{% extends 'base.html.twig' %}

{% block title %}OrdiService{% endblock %}

{% block body %}

<section id="header">

<div class="title">
<h1>OrdiService</h1>
<h5>Trouve ton reparateur d'ordinateur</h5>
<a href="{{path("catalogue")}}" class="button">Découvrir</a>

</div>

<div class="ordi">
<img src="/image/ordi.png">
</div>

</section>

{% endblock %}
