body{
    font-family: "HelveticaNeue";
    width:100%;
    max-width: 100%; 
    box-sizing: border-box;
}

h1, h5{
    font-weight: 100;
}

@media only screen and (max-width: 768px){
    body{
        font-size: 17pt;
    }
}


