.nav{
    overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
}

.nav a{
    float: right;
  display: block;
  color:  #707070;
  padding: 36px;
  text-decoration: none;
  font-size: 20px;
}

.logo img{
    padding: 31px;
    width: 138px;
  }


  