<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/style.css')}}">

        {% block stylesheets %} {% endblock %}

        {% block javascripts %} {% endblock %}
    </head>
    <body>

    <div class="nav">
        <div class="logo">
        <img src="/image/OrdiService.png">
        </div>
        <a href="{{path("ordi")}}">Accueil</a>
        <a href="{{path("catalogue")}}">Catalogue</a>
        <a href="#">Connexion</a>
         
       <a href="#">Inscription</a>
          
       <a href="#">Deconnexion</a>
        
           </div>
              </div>
        


        {% block body %}{% endblock %}
    </body>
</html>
